@import '../../variables';

.root {
  min-height: 100vh;
  position: relative;
  background: linear-gradient(180deg, $third 0%, $primary 100%);
}
.wrap {
  display: flex;
  width: 100%;
}
.left {
  flex: 1;
  position: absolute;
  left: 10.9%;
  right: 53.3%;
  top: 21.58%;
  bottom: 24.02%;
}
.right {
  flex: 1;
  position: absolute;
  left: 37%;
  top: 15%;
}
.buttoncolor {
  color: green;
  width: 150px;
}
.buttonOne {
  width: 100px;
  color: red;
  margin-bottom: 12px;
  text-shadow: 4px 4px 4px rgba(33, 33, 33, 0.1);
}
.buttonTwo {
  width: 200px;
  color: green;
}
.buttonThree {
  width: 300px;
  color: red;
}
