@import '../../variables';

.root {
  min-height: 100vh;
  background: linear-gradient(180deg, $third 0%, $primary 100%);
}
.wrap {
  display: flex;
}
.left {
  flex: 1;
  position: absolute;
  left: 5%;
}
.right {
  flex: 1;
  position: absolute;

  left: 395px;
}
.buttoncolor {
  color: red;
  width: 150px;
}
.buttonOne {
  width: 100px;
  background-color: black;
  color: whitesmoke;
}
.buttonTwo {
  width: 200px;
  background-color: red;
  color: green;
}
.buttonThree {
  width: 300px;
  background-color: yellow;
  color: red;
}
